@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");


*{
    border-style: border-box;
}

body{
    background-color: #4444;
    font-family: "Roboto", sans-serif;
}
.content{
    background-color: #E5E5E5;
    width: 375px;
    height: 670px;
    position: relative;
}

/*Menu Usuário*/
.content-options{
    width: 100%;
    height: 100%;
    background-color: #111111;
    opacity: 0.60;
    position: absolute;
    z-index: 1;
    
}
.menu-opcoes{ 
    background-color: #E5E5E5;
    width: 258px;
    height: 100%;

    position: absolute;
    top: 0;
    left: 116px;
    z-index: 1;
    
    
}
.opcoes{
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: scroll;    
}
.opcoes .titulo{
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .contato {
    width: 100%;
    height: 36px;
    
    display: flex;
    flex-direction: row;
    margin: 1px auto;
 }

 .contato div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 .contato ion-icon{
    font-size: 20px;
    margin: auto;
    padding: 5px;
 }

 .visibilidade{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.visibilidade .titulo{
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .restricao {
    width: 100%;
    height: 36px;
    
    display: flex;
    flex-direction: row;
    margin: 1px auto;
 }

 .restricao div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 .restricao ion-icon{
    font-size: 20px;
    margin: auto;
    padding: 5px;
 }

.restricao div ion-icon{
    color: #28BB25;
}


/*Chat*/

.chat{
    width: 100%;
    height: 100%;

    position: relative;
}
.menu{
    background-color: #fff;
    width: 100%;
    height: 80px;
    position: absolute;

    z-index: 1;
}


.topo{
    width: 375px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    
    top: 0;
    left: 0;
}


.topo img{
    width: 75px;
    height: 53px;
    
    margin: 0 22px;
}

.topo ion-icon{
    font-size: 50px;

    margin: 0 22px;
}

.msg-box{
    height: 400px;
    margin-top: 80px;

    overflow: hidden;
    position: absolute;
}

li{

    background-color: #FFFFFF;
    height: 40px;
    
    word-break: break-word;

    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    
    margin: 5px 0;
    padding: 0 9px;
}

.status{
    background-color: #dcdcdc;
}

.enviar-mensagem{
    
    width: 375px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    bottom: 0;
    left: 0;
}

.enviar-mensagem ion-icon{
    font-size: 26px;
    margin: 0 22px;
}

input{
    width: 300px;
    height: 75%;
    
    margin: 0 22px;
    border: none;
}

.escondido {
    display: none;
}


